<h1>Cart</h1
<% if cart.contents.empty? %>
<p>Your shopping cart is empty</p>

<%else cart.contents.each do |item_id, quantity|%>
<p>Item ID: <%= item_id %> </p>
<br>
<%= link_to "Checkout", new_order_path %>
<p> Quantity: <%= quantity %> </p>
<%= button_to "Increase Count", "/cart/#{item_id}/add", method: :patch %>
<%= button_to "Decrease Count", "/cart/#{item_id}", method: :patch %>
<%= button_to "Remvove Item From Cart","/cart/#{item_id}", method: :delete %>
<% end  %>
<%= button_to "Empty Cart", "/cart", method: :delete %>
<% end  %>
