<h1>My Cart</h1>

<% if cart.empty? %>
<% else %>
<% @items.each do |item| %>
  <section id='item-<%= item.id%>'>
    <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLM_vbg2Rh-mZ-B4t-RSU9AmSfEEq_SN9xPP_qrA2I6Ftq_D9Qw">
    <p>Sold by: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %>, Inventory: <%= item.inventory %></p>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>Quantity: <%= cart.item_count(item.id) %></p>
    <p>Subtotal: <%= number_to_currency(cart.subtotal(item.id)) %></p>
  </section>
<% end %>

<h4>Grand Total <%= number_to_currency(cart.grand_total) %> </h4>

<%= link_to "Empty Cart", empty_cart_path, method: :delete %>
<% end %>
