<p>this is new order page</p>

<% @items.each do |item| %>
  <section id='item-<%= item.id%>'>
    <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
    <p><%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %></p>
    <p><%= number_to_currency(item.price) %></p>
    <p><%= cart.item_count(item.id) %></p>
    <p><%= cart.subtotal(item.id) %></p>
  </section>
<% end  %>

<h4><%= cart.grand_total %></h4>

<h2>Shipping Information</h2>
<%= form_tag '/orders' do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :address %>
  <%= text_field_tag :address %>

  <%= label_tag :city %>
  <%= text_field_tag :city %>

  <%= label_tag :state %>
  <%= text_field_tag :state %>

  <%= label_tag :zipcode %>
  <%= text_field_tag :zipcode %>

  <%= submit_tag 'Create Order' %>
<% end %>
