<% @items.each do |item| %>
   <section id='item-<%= item.id%>'>
    <p><%= link_to item.name, "/items/#{item.id}" %></p>
    <p>Sold by: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %></p>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>Quantity: <%= cart.count_of(item.id) %></p>
    <p>Subtotal: <%= number_to_currency cart.subtotal(item.id) %></p>
  </section>
<% end %>

<p>Total: <%= number_to_currency cart.total %></p>

  <section id="shipping-info">
    <%= form_tag "/orders/#{@order.id}" do %>
      <%= label_tag :name %>
      <%= text_field_tag :name, nil %>

      <%= label_tag :address %>
      <%= text_field_tag :address, nil %>

      <%= label_tag :city %>
      <%= text_field_tag :city, nil %>

      <%= label_tag :state %>
      <%= text_field_tag :state, nil %>

      <%= label_tag :zip %>
      <%= text_field_tag :zip, nil %>

      <%= submit_tag "Create Order" %>
  </section>
<% end %>
