<h1>ORDER: <%= @order.id %></h1>

<section id="shipping-info">
  <h2>Shipping Address:</h2>
  <p><%= @order.name %></p>
  <p><%= @order.address %></p>
  <p><%= @order.city %></p>
  <p><%= @order.state %></p>
  <p><%= @order.zip %></p>
  <p>Order Date: <%= @order.created_at.to_formatted_s(:short) %></p>
</section>


<% @order.order_items.each do |order_item| %>
  <section id="item-<%= order_item.item_id %>">
    <p><%= link_to order_item.item.name, "/items/#{order_item.item.id}" %></p>
    <p>Sold by: <%= link_to order_item.item.merchant.name, "/merchants/#{order_item.item.merchant.id}" %></p>
    <p>Price: <%= number_to_currency(order_item.item.price) %></p>
    <p>Quantity: <%= order_item.quantity %></p>
    <p>Subtotal: <%= number_to_currency(order_item.subtotal) %></p>
  </section>
<% end %>
<h3>Total: <%= number_to_currency(cart.total) %></h3>
