<h1>Order ID: <%= @order.id %></h1>

<h2>Shipping Information</h2>
<section class='address'>
  <p><%= @order.name %></p>
  <p><%= @order.address %></p>
  <p><%= @order.city %>, <%= @order.state %> <%= @order.zipcode %></p>
</section>

<h2>Order Details</h2>
<% @items.each do |item| %>
  <section id='item-<%= item.id%>'>
    <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
    <p>Sold By: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %></p>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>Quantity: <%= @order.desired_quantity(item.id, @order.id) %></p>
    <p>Subtotal: <%= number_to_currency(@order.subtotal(item.id, @order.id)) %></p>
  </section>
<% end  %>

<h4>Grand Total: <%= number_to_currency(@order.grand_total) %></h4>
<h5>Order Date: <%= @order.created_at %></h5>
