<h1><%= @merchant.name %></h1>

<section class='address'>
  <p><%= @merchant.address %></p>
  <p><%= @merchant.city %> <%= @merchant.state %> <%= @merchant.zip %></p>
</section>

<%= button_to 'Edit', "/merchants/#{@merchant.id}/edit", method: :get %>
<%= button_to 'Delete', "/merchants/#{@merchant.id}", method: :delete %>

<h3>Number of Items: <%= @merchant.items.count %></h3>
<h3>Average Item Price: <%= number_to_currency(@merchant.average_price) %></h3>
<h3><u>Distinct Cities</u></h3>
<% @merchant.cities.each do |city| %>
  <ul>
    <li><%= city %></li>
  </ul>
<% end %>
