<!-- Need to refactor -->
<h1>Cart</h1>
<% grand_total = 0 %>
<% @contents.each do |item, quantity| %>
<%= Item.find(item).name %>
<img src="<%="#{Item.find(item).image}"%>">
<%= Item.find(item).merchant.name %>
<%= Item.find(item).price %>
<p>Quantity: <%= quantity %></p>
<%= number_to_currency(cart.subtotal(Item.find(item).price, quantity)) %>
<% grand_total += cart.subtotal(Item.find(item).price, quantity) %>
<% end %>
<%= number_to_currency(grand_total) %>
<br>
<%= button_to "Empty Cart", cart_path, method: :delete %>
