<p><%= item.description %></p>
<section class='image'>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLM_vbg2Rh-mZ-B4t-RSU9AmSfEEq_SN9xPP_qrA2I6Ftq_D9Qw">
</section>
<p>Price: <%= number_to_currency(item.price) %></p>
<p>Sold by: <%= link_to item.merchant.name, merchant_path(item.merchant) %>, Inventory: <%= item.inventory %></p>
<p><%= item.active ? "Active" : "Inactive" %></p>
