<% if @merchant %>
  <h1>All Items From <%= link_to @merchant.name, merchant_path(@merchant) %></h1>
  <%= link_to 'New Item', new_merchant_item_path %>
<% else %>
  <h1>All Items</h1>
<% end %>

<% @items.each do |item| %>
  <section id='item-<%= item.id%>'>
    <h2><%= link_to item.name, item_path(item) %></h2>
    <p><%= item.description %></p>
    <img src=<%= item.image %> alt=<%= item.name %>>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>Sold by: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %>, Inventory: <%= item.inventory %></p>
    <p><%= item.active ? "Active" : "Inactive" %></p>
  </section>
<% end %>
