
  <h1><%= @item.name %></h1>
  <p><%= @item.description %></p>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLM_vbg2Rh-mZ-B4t-RSU9AmSfEEq_SN9xPP_qrA2I6Ftq_D9Qw">

  <p>Price: <%= number_to_currency(@item.price) %></p>

  <p>Sold by: <%= link_to @item.merchant.name, "/merchants/#{@item.merchant_id}" %>, Inventory: <%= @item.inventory %></p>

  <p><%= @item.active ? "Active" : "Inactive" %></p>
  <%= button_to "Add #{@item.name} to Cart", "/cart/#{@item.id}", method: :post, type:"button", class:"btn btn-success"%>

  <h4>Average Rating: <%= @average_review%> </h4>

  <h4>Top Reviews: <% @top_3.each do |review|%></h4>
  <br>
    <ul>
      <p>Title: <%= review.title%></p>
      <li>Rating : <%= review.rating%></li>
    </ul>
<% end %>

  <h4>Worst Reviews: <% @bottom_3.each do |review|%></h4>
    <p>Title: <%= review.title%></p>
      <ul>
        <li>Rating: <%= review.rating%></li>
      </ul>
      <br>
    <% end %>

  <h4>All Reviews</h4>
    <% @item.reviews.each do |review|%>
    <section id='review-<%= review.id %>'>
  <h4><%=review.title %></h4>
  <ul>
    <li>Content: <%=review.content %></li>
    <li>Rating: <%= review.rating %></li>
  </ul>
  <%= link_to 'Edit Review', "/items/#{@item.id}/reviews/#{review.id}/edit" %>
  <%= link_to 'Delete', "/items/#{@item.id}/reviews/#{review.id}", method: :delete %>
    </section>
  <% end%>
    <br>

<%= link_to 'New Review', new_item_review_path(@item.id) %>
<%= link_to 'Update Item', "/items/#{@item.id}/edit" %>
<%= link_to 'Delete', "/items/#{@item.id}", method: :delete %>
