<h1><%= @item.name %></h1>
<p><%= @item.description %></p>
<img src="<%= @item.image %>" alt="">
<p>Price: <%= number_to_currency(@item.price) %></p>
<p>Sold by: <%= link_to @item.merchant.name, "/merchants/#{@item.merchant_id}" %>, Inventory: <%= @item.inventory %></p>
<p><%= @item.active ? "Active" : "Inactive" %></p>


<%= button_to "Add Item", cart_path(item_id: @item.id) %>
<%= link_to 'Update Item', "/items/#{@item.id}/edit" %>
<%= link_to 'Delete', "/items/#{@item.id}", method: :delete %>
<%= button_to 'Add Review', "/items/#{@item.id}/reviews/new", method: :get %>
<p> Review</p>

<section id="item-show-reviews">
  <% @item.reviews.each do |review| %>
    <article class="item-show-review" id="review-<%=review.id%>">
      <h3>Title: <%= review.title%> </h3>
      <p>Rating: <%= review.rating%> </p>
      <p>Content: <%=review.content%> </p>
      <p> <%= button_to 'Edit Review', "/items/#{review.item_id}/#{review.id}/edit", method: :get %></p>
  <% end %>
</section>
