<h1><%= @item.name %></h1>
<%= render 'description', item: @item %>

<%= link_to 'Add to Cart', "/cart/#{@item.id}", method: :patch %>
<%= link_to 'Update Item', "/items/#{@item.id}/edit" %>
<%= link_to 'Delete', "/items/#{@item.id}", method: :delete %>
