<h1><%= @item.name %></h1>
<%= render 'description', item: @item %>

<section class='nav-2'>
  <section class='nav-group'>
    <section role="group" class="btn-group">
      <%= button_to 'Descending', item_desc_path(@item), method: :get, params: {:sort => "highest"} %>
    </section>
    <section role="group" class="btn-group">
      <%= button_to 'Ascending', item_asc_path(@item), method: :get, params: {:sort => "lowest"} %>
    </section>
  </section>
</section>

<% unless @reviews.empty? %>
  <%= render 'reviews' %>
<% end %>

<section class='nav-2'>
  <section class='nav-group'>
    <section role="group" class="btn-group">
      <%= link_to 'Add to Cart', add_to_cart_path(@item), method: :patch, class: 'link-btn' %>
    </section>
    <section role="group" class="btn-group">
      <%= link_to 'Write Review', new_review_path(@item), class: 'link-btn' %>
    </section>
    <section role="group" class="btn-group">
      <%= link_to 'Update Item', edit_item_path(@item), class: 'link-btn' %>
    </section>
    <section role="group" class="btn-group">
      <%= link_to 'Delete', delete_item_path(@item), method: :delete, class: 'link-btn' %>
    </section>
  </section>
</section>
