<h1><%= @item.name %></h1>
<%= render 'description', item: @item %>

<h1>Reviews</h1>

<% @reviews.each do |review| %>
  <section id='review-<%= review.id %>'>
    <h2><%= review.title %></h2>
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
  </section>
<% end %>

<%= link_to 'Add to Cart', add_to_cart_path(@item), method: :patch %>
<%= link_to 'Write Review', new_review_path(@item) %>
<%= link_to 'Update Item', edit_item_path(@item) %>
<%= link_to 'Delete', delete_item_path(@item), method: :delete %>
