<h1><%= @item.name %></h1>
<p><%= @item.description %></p>
<img src="<%= @item.image %>" alt="">
<p>Price: <%= number_to_currency(@item.price) %></p>
<p>Sold by: <%= link_to @item.merchant.name, "/merchants/#{@item.merchant_id}" %>, Inventory: <%= @item.inventory %></p>
<p><%= @item.active ? "Active" : "Inactive" %></p>


<%= button_to "Add Item", carts_path(item_id: @item.id) %>
<%= link_to 'Update Item', "/items/#{@item.id}/edit" %>
<%= link_to 'Delete', "/items/#{@item.id}", method: :delete %>
