<h1><%= @item.name %></h1>
<p><%= @item.description %></p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLM_vbg2Rh-mZ-B4t-RSU9AmSfEEq_SN9xPP_qrA2I6Ftq_D9Qw">
<p>Price: <%= number_to_currency(@item.price) %></p>
<p>Sold by: <%= link_to @item.merchant.name, "/merchants/#{@item.merchant_id}" %>, Inventory: <%= @item.inventory %></p>
<p><%= @item.active ? "Active" : "Inactive" %></p>

      <h2>Reviews</h2>
        Average Rating: <%= @average_rate %>
      <section id="top_three_css">

        Top Three Rated Reviews:

            <% @top_three.each do |review| %>
              <section id='review-<%= review.id%>'>
                <p><%= review.title %> - Rating: <%= review.rating %>, <p>
              </section>
            <% end %>

      </section>
      <section id="bottom_three_css">

      Bottom Three Rated Reviews:

          <% @bottom_three.each do |review| %>
            <section id='review-<%= review.id%>'>
              <p><%= review.title %> - Rating: <%= review.rating %>, <p>
            </section>
          <% end %>

      </section>

      <h6><%= link_to "New Review", "/items/#{@item.id}/reviews/new"  %></h6>

      <% @reviews.each do |review| %>
          <section id="individual_review-<%= review.id %>">
            <h4>Title: <%= review.title %></h4>
              <ul>
                <li>Rating: <%= review.rating %>/5</li>
                <li><%= review.body %></li>
                <p><%= link_to "Edit Review", "/items/#{@item.id}/reviews/#{review.id}/edit"%></p>
              </ul>
          </section>
      <% end %>



<%= button_to "Add To Cart", carts_path(item_id: @item.id) %>

<%= link_to 'Update Item', "/items/#{@item.id}/edit" %>
<%= link_to 'Delete', "/items/#{@item.id}", method: :delete %>
