<h2>Edit Review</h2>
<%= form_tag "/items/#{@review.item_id}/reviews/#{@review.id}", method: :patch do %>
  <%= label_tag :title %>
  <%= text_field_tag :title %>

  <%= label_tag :content %>
  <%= text_field_tag :content %>

  <%= label_tag :rating %>
  <%= text_field_tag :rating %>

  <%= submit_tag 'Update Review' %>
<% end %>
