<h2><%= "Edit Review For: #{@item.name}" %></h2>
<%= form_tag "/items/#{@item.id}/reviews/#{@review.id}", method: :patch do %>
  <%= label_tag :title %>
  <%= text_field_tag :title, @review.title %>

  <%= label_tag :rating %>
  <%= select_tag :rating, options_for_select([1, 2, 3, 4, 5]) %>

  <%= label_tag :content %>
  <%= text_field_tag :content, @review.content %>

  <%= submit_tag 'Edit Review' %>
<% end %>
