<h2>New Review for <%= @item.name %></h2>
  <%= form_tag "/items/#{@item.id}/reviews" do %>
  <%= label_tag :rating %>
  <div class="rating">
  <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
  </div>
  <br>
<%= label_tag :title %>
<%= text_field_tag :title %>
<br>

<%= label_tag :content %>
<%= text_field_tag :content %>
<br>
  <%= submit_tag 'Post Review' %>
<% end %>
