<!DOCTYPE html>
<html>
  <head>
    <link href="application_styles.css" type="text/css" rel="stylesheet">
    <title>Little Shop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <section class='nav-1'>
      <section class='nav-group'>
        <section role="group" class="btn-group">
          <%= link_to 'Merchants', '/merchants', class: 'link-btn' %>
        </section>
        <section role="group" class="btn-group">
          <%= link_to 'Items', '/items', class: 'link-btn' %>
        </section>
        <section role="group" class="btn-group">
          <%= link_to "Cart: #{cart.total_count}", cart_path, method: :get, class: 'link-btn' %>
        </section>
      </section>
    </section>

    <% flash.each do |type, message| %>
      <section class="<%= flash_class(type) %>">
        <p><%= message %></p>
      </section>
    <% end %>

    <br/>

    <%= yield %>
  </body>
</html>
